<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" {{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<head>
<link href="https://fonts.bunny.net/css?family=noto-sans-jp:300,400,700" rel="stylesheet" />
<script async src="https://analytics.mystech.ink/script.js" data-website-id="fa470223-8408-40fc-8779-5a6abc6cc521"></script>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
{{ if eq .IsHome false }}
<title>{{ .Title }} | {{ .Site.Title }}</title>
{{ else }}
<title>{{ .Site.Params.Info.homeTitle }}</title>
{{ end }}
{{ if .Site.Params.Info.enableSocial }}
{{- partial "social/opengraph" . -}}
{{ template "_internal/opengraph.html" . }}
{{ end }}
{{ if .Site.Params.rss }}
{{ end }}
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}"/>
{{- range .Site.Params.Assets.customCSS -}}
<link rel='stylesheet' href='{{ . | absURL }}'>
{{- end -}}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<link rel="canonical" href="{{ .Permalink }}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
</head>
<body>
